.btn {
  position: fixed;
  width: 59px;
  height: 59px;
  z-index: 10;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
}

.helpBtn {
  background: url('/img/UI/help.png');
}

.reloadBtn {
  background: url("/img/UI/home.png ");
}
.bottom-left-radius{
  border-bottom-left-radius: 25px;
}
.bottom-right-radius{
  border-bottom-right-radius: 25px;
}
.top-left-radius{
  border-top-left-radius: 25px;
}
.top-right-radius{
  border-top-right-radius: 25px;
}
.topBtn {
  top: -1px;
}

.rightBtn {
  right: -1px;
}

.homeSignBtn {
  background: url('/img/UI/home.png');
}

.backBtn {
  background: url('/img/UI/back.png');
}

.exitModalBtn {
  background: url('/img/UI/exit.png');
}

.remoteBtn {
  background: url('/img/UI/remote.png');
}
/*bottom right**/
.finishModalBtn {
  background: url('/img/UI/check_button.png');
}

#help,
#reload {
  position: fixed;
  top: -1px;
  right: -1px;
  width: 65px;
  height: 65px;
  z-index: 9000;
}

#homeSign {
  position: fixed;
  top: -1px;
  right: -1px;
  width: 65px;
  height: 65px;
  z-index: 9000;
}

#search {
  position: fixed;
  bottom: -3px;
  left: 206px;
  width: 442px;
  height: 71px;
  z-index: 9000;
}

#back {
  position: fixed;
  bottom: -1px;
  left: -1px;
  width: 65px;
  height: 65px;
  z-index: 9000;
}

#exitModal {
  position: fixed;
  bottom: -1px;
  left: -1px;
  width: 65px;
  height: 65px;
  z-index: 9000;
}

#remote {
  position: fixed;
  bottom: -1px;
  right: -1px;
  width: 65px;
  height: 65px;
  z-index: 9200;
}

.bottomBtn {
  bottom: -1px;
}

.leftBtn {
  left: -1px;
}

.exitBtn {
  background: url('/img/UI/exit.png');
}

#exit {
  position: fixed;
  bottom: -1px;
  left: -1px;
  width: 65px;
  height: 65px;
  z-index: 9000;
}