#play-user-menu {
    position: fixed;
    left: 71px;
    width: 400px;
    height: 481px;
    background: #e1e1e1;
    outline: 1px solid black;
  }
  
  .play-user-mii-banner {
    position: relative;
    display: block;
    width: 400px;
    border-right: 1px solid black;
    height: 119px;
    background-image: -webkit-linear-gradient(#262825, #5e605d);
  }
  
  #play-user-mii {
    position: relative;
    display: block;
    margin: 0;
    width: 96px;
    height: 96px;
    text-align: center;
    top: 22px;
    left: -5px;
  }
  
  #play-user-mii-name {
    position: relative;
    display: block;
    width: 400px;
    margin: 0;
    color: white;
    font-size: 16px;
    top: -85px;
    text-align: center;
    left: 0px;
  }
  
  .play-user-mii-points {
    position: relative;
    width: 90px;
    height: 68px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    top: -80px;
    left: 86px;
  }
  
  .play-user-mii-points-num {
    position: relative;
    display: block;
    text-align: center;
    color: white;
    font-size: 26px;
    top: 10px;
    left: -1px;
  }
  
  .play-user-mii-points-sub {
    position: relative;
    display: block;
    text-align: center;
    color: grey;
    font-size: 14px;
    top: 10px;
    left: -1px;
  }
  
  .play-user-mii-popularity-posts {
    position: relative;
    width: 205px;
    height: 68px;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    top: -148px;
    left: 185px;
  }
  
  .play-user-mii-popularity-num {
    position: relative;
    display: block;
    text-align: center;
    color: white;
    font-size: 26px;
    top: 10px;
    left: -52px;
  }
  
  .play-user-mii-popularity-sub {
    position: relative;
    display: block;
    text-align: center;
    color: grey;
    font-size: 14px;
    top: 10px;
    left: -52px;
  }
  
  .play-user-mii-posts-num {
    position: relative;
    display: block;
    text-align: center;
    color: white;
    font-size: 20px;
    top: -40px;
    left: 46px;
  }
  
  .play-user-mii-posts-num:before {
    content: "";
    width: 1px;
    height: 40px;
    background: grey;
    position: absolute;
    text-align: center;
    top: 2px;
    left: 51px;
  }
  
  .play-user-mii-posts-sub {
    position: relative;
    display: block;
    text-align: center;
    color: grey;
    font-size: 14px;
    top: -35px;
    left: 46px;
  }
  
  .play-user-recent {
    position: relative;
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    top: -136px;
    left: -1px;
    width: 400px;
    height: 50px;
    text-align: left;
    background: -webkit-linear-gradient(#4c4c4c, #262626);
    font-size: 14px;
  }
  
  .play-user-recent-activity {
    position: absolute;
    display: inline-block;
    margin: 0;
    color: #ffffff;
    z-index: 100;
    top: 0px;
    left: 0px;
    line-height: 2.3;
    width: 199px;
    height: 50px;
    text-align: center;
    font-size: 20px;
  }
  
  .play-user-recent-activity.selected {
    border-right: 1px solid black;
    border-bottom: 1px solid #e1e1e1;
    color: #333333;
    background: -webkit-linear-gradient(#ffffff, #e1e1e1);
  }
  
  .play-user-recent-leaderboard {
    position: absolute;
    display: inline-block;
    margin: 0;
    z-index: 100;
    color: #ffffff;
    top: 0px;
    left: 200px;
    line-height: 2.3;
    width: 199px;
    height: 50px;
    text-align: center;
    font-size: 20px;
  }
  
  .play-user-recent-leaderboard.selected {
    border-left: 1px solid black;
    border-bottom: 1px solid #e1e1e1;
    color: #333333;
    background: -webkit-linear-gradient(#ffffff, #e1e1e1);
  }
  
  #play-user-recent-answers {
    position: relative;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid rgba(239, 239, 240, 0.1);
    width: 400px;
    height: 310px;
    top: -136px;
  }
  
  .play-user-recent-poll {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    width: 380px;
    height: 57px;
    border-bottom: 1px solid #aaaaaa;
  }
  
  .play-user-recent-poll p {
    display: block;
    margin-top: 0px;
    padding-top: 8px;
    padding-left: 60px;
    font-size: 14px;
  }
  
  .play-user-recent-poll span.points-answer {
    position: inherit;
    display: inline-block;
    top: -10px;
    font-size: 14px;
    padding-left: 60px;
    color: #9b9b9b;
  }
  
  .play-user-recent-poll.answered {
    background: url('/img/user/check_mark.png') no-repeat 6px 5px;
  }
  
  .play-user-recent-poll.incorrect {
    background: url('/img/user/error_mark.png') no-repeat 6px 5px;
    background-color: #d6d6d6;
  }
  
  #play-user-recent-answers::-webkit-scrollbar {
    background: #dedede;
    border: none;
    width: 20px;
  }
  
  #play-user-recent-answers::-webkit-scrollbar-track {
    background: #a5a5a5;
    border: 8px solid transparent;
    box-sizing: border-box;
    background-clip: content-box;
  }
  
  #play-user-recent-answers::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(#fdfdfd, #e0e0e0);
    border-radius: 4px;
    max-height: 50px;
  }  